.mainPageSuperWrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainPageWrap {
    height: 100vh;
    background-image: url('../../../assets/images/bgr/kmns-main.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    animation: mainImg 5s normal;
}

@keyframes mainImg {
    0% {
        height: 150vh;
        opacity: 0;
    }
    100% {
        height: 100vh;
        opacity: 1;
    }
}


.mainTitleWrap {
    position: absolute;
    font-weight: 400;
    top: 4.5vw;
    right: 47vw;
    font-family: var(--sans);
}

.mainTitle {
    font-size: 5.5vw;
    font-weight: 600;
    transform: scaleY(1.2);
    color: transparent;
    user-select: none;

}

.letterShadow {
    color: white;
    text-shadow: 0 0 15px #a589fa;
    animation: letshad 1s normal;
    transition: 1s ease all;
}

@keyframes letshad {
    0% {
        text-shadow: 0 0 10px #fff, 0 0 30px #fff, 0 0 50px #fff;
        opacity: 0;
    }
    50% {
        text-shadow: 0 0 10px #fff, 0 0 30px #fff, 0 0 50px #00e4ff, 0 0 70px #fff;
        opacity: 1;
    }
    100% {
        text-shadow: 0 0 15px #a589fa;
    }
}

.letterShadow:hover {
    text-shadow: 0 0 10px #fff, 0 0 30px #fff, 0 0 50px #00e4ff, 0 0 70px #fff;
    transition: .2s ease all;
}

.mainSubTitle {
    font-size: 1.46vw;
    color: var(--deep-purple);
    margin-bottom: 10px;
    opacity: 0;
    transition: .7s ease all;
    transform: scaleY(1.2);
}

.mainSubTitleVisible {
    opacity: 1;
}

.prologWrap {
    font-size: 1.2em;
    font-weight: 300;
    min-height: 100vh;
    padding: 50px 70px 150px;
    background-image: url('../../../assets/images/bgr/kmns-main-oleni.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.prologWrap p {
    margin-bottom: 1em;
}

.startButton {
    margin-top: 30px;
    border: 1px solid var(--semi-light-grey);
    padding: 20px 30px;
    border-radius: 5px;
    background-color: #ffffff77;
    transition: .2s ease all;
    cursor: pointer;
    font-weight: 300;
}

.startButton:hover {
    background-color: var(--deep-purple);
    color: white;
}

.scrollArrowWrap {
    margin: 3vw 0 0 100px;
    animation: arr 6s infinite;
    opacity: 0;
    transition: .5s ease all;
}

.scrollArrowWrapVisible {
    opacity: 1;
}

@keyframes arr {
    13% {
        padding-top: 0;
    }
    20% {
        padding-top: 15px;
    }
    25% {
        padding-top: 5px;
    }
    32% {
        padding-top: 15px;
    }
    45% {
        padding-top: 0;
    }
}

.scrollArrow {
    margin: 0;
    height: 100px;
    width: fit-content;
    padding: 0 10px;
    display: flex;
    align-items: flex-end;
    gap: 6px;
    cursor: pointer;
}

.arrowLeftLine,
.arrowRightLine,
.arrowMidLine {
    background-color: var(--semi-light-grey);
    width: 2px;
    box-shadow: 0 0 15px 5px white;
}

.arrowLeftLine,
.arrowRightLine {
    height: 33px;
    margin-bottom: -2px;
}

.arrowLeftLine {
    transform: rotate(-30deg);
}

.arrowRightLine {
    transform: rotate(30deg);
}

.arrowMidLine {
    height: 100px;
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 480px) {

}
